{
  "presets": [
    [
      "env",
      {
        "test": {
          "plugins": [
            "istanbul"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
